@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
  transition: all 500ms;
}
